@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap");

body {
 background-image: url(https://cdn.pixabay.com/photo/2015/11/10/19/39/leaves-1037624_960_720.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 5% 15%;
    
}

header{
    text-align:center;
    font-family:"font-family: 'Gotu',sans-serif";
    color: rgb(167, 112, 112);
}

.container{
    background-color: rgba(155, 250, 237, 0.87);
}

.btn{
    background-color: rgba(241, 152, 188, 0.76);
    margin: 20px;
}

img {
    max-width: 300px;
}