body {
    background-color: rgb(34, 43, 122);
    color: rgb(255, 255, 243);
}

button {
    color: whitesmoke;
}

#about-me {
    /*background-color: rgb(62, 146, 192);*/
    border-radius: 0.25rem;
}

#button-resume {
    background-color: rgb(36, 152, 253);
}

#button-projects {
    background-color: rgb(84, 236, 5);
}

#button-LinkedIn {
    background-color: rgb(175, 1, 248);
}

#button-github {
    background-color: rgb(252, 208, 25);
}

#button-wordpress {
    background-color: rgb(255, 73, 148);
}

#button-email {
    background-color: rgb(1, 189, 112);
}