/*
    Name: Margaret Donin
    Date Created: 3/26/20
    Most recent revision:

    08182C dark blue
    166975 lighter blue
    659C62 green
    CBC0A8 tan 
    EDF6FC almost white
*/

/*
Bootstrap CDN copied from https://getbootstrap.com/docs/4.1/getting-started/introduction/
*/
@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css");
@import url("https://fonts.googleapis.com/css?family=Amatic+SC&display=swap"); 

body {
    font-family: "Times New Roman", Times, serif;
    background-color: #08182c;
    text-align: center;
    flex-wrap: wrap;
    margin: 5%;
}

.container{
    background-color: #EDF6FC;
    border: #CBC0A8  thick solid;
    padding: 5%;
}

h1, h2, h3, footer {
    font-family: 'Amatic SC', "Times New Roman", Times, serif;
    background: #08182C;
    color: #EDF6FC;
    border: #CBC0A8 thick solid;
}

section, form {
    background-color: rgba(107, 166, 147, 0.253);
    border: #6ba693 dashed thin;
    padding: 5% 10%;
    color: #08182C;
    margin: 2%;
}

header {
    margin: 3% 10%;
    color: #08182C;
}

footer {
    margin: 5% 10% 0;
    padding: none;
    padding: 2%;
}

h2, h3{
    margin: 3%;
    padding: 1%;
    text-align: center;
}

nav {
    padding: 0 2%;

}

a {
    text-decoration-line: unset;
    color: unset;
}

a:hover {
    text-decoration-line: unset;
    color: unset;
}

.btn {
    color: #EDF6FC;
    background-color: #08182C;
    font-family: 'Amatic SC', "Times New Roman", Times, serif;
    margin: 2%;
    text-decoration-line: none;
}

.btn:active {
    font-weight: bold;
    text-decoration-line: none;
}

.btn:hover {
    background-color: #CBC0A8;
    color: #08182C;
    text-decoration: none;
}