/*
    Name: Margaret Donin
    Date Created: 03/26/20
    Most recent revision: 04/05/20

    08182C dark blue
    166975 lighter blue
    659C62 green
    CBC0A8 tan 
    EDF6FC almost white
*/

/*
Bootstrap CDN copied from https://getbootstrap.com/docs/4.1/getting-started/introduction/
*/
@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css");
@import url("https://fonts.googleapis.com/css?family=Amatic+SC&display=swap"); 

body {
    font-family: "Times New Roman", Times, serif;
    background-color: #08182c;
    text-align: center;
    margin: 5%;
}

.container{
    background-color: #EDF6FC;
    border: #CBC0A8  thick solid;
    padding: 5%;
}

h1, h2, h3, footer {
    font-family: 'Amatic SC', "Times New Roman", Times, serif;
    background: #08182C;
    color: #EDF6FC;
    border: #CBC0A8 thick solid;
    overflow-wrap: break-word;
}

section {
    background-color: rgba(107, 166, 147, 0.253);
    border: #6ba693 dashed thin;
    padding: 5% 10%;
    color: #08182C;
    margin: 2%;
}

header {
    margin: 3% 10%;
    color: #08182C;
    overflow-wrap: break-word;
}

footer {
    margin: 5% 10% 0;
    padding: none;
    padding: 2%;
}

h2, h3 {
    margin: 3%;
    padding: 1%;
    text-align: center;
}

/* removing set anchor styling */
a {
    text-decoration-line: unset;
    color: unset;
}
a:hover {
    text-decoration-line: unset;
    color: unset;
}

/* nav btn styling */
nav {
    padding: 0 2%;
}
.btn {
    color: #EDF6FC;
    background-color: #08182C;
    font-family: 'Amatic SC', "Times New Roman", Times, serif;
    margin: 2%;
    text-decoration-line: none;
}
.current-page {
    background-color: #CBC0A8;
    color: #08182C;
    font-weight: bold;
    text-decoration-line: none;
}
.btn:active {
    color: #EDF6FC;
    background-color: #08182C;
    font-weight: bold;
    text-decoration-line: none;
}
.btn:hover {
    background-color: #CBC0A8;
    color: #08182C;
    text-decoration: none;
}

/* table styling */
table {
    font-family: 'Amatic SC';
    background-color: #08182C;
    color: #EDF6FC;
    border: thick solid #CBC0A8;
    margin: 3%;
    padding: 2%;
}
td{
    margin: 3%;
    padding: 2%;
    text-align: left;
    font-size: large;
}
tr {
    margin: 2%;
    padding: 3%;
    border-bottom: thin solid #CBC0A8;
}

 